*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//VARIABLES
@import './variables/colores';
@import './variables/tamanios';


//SECCIONES
@import './secciones/index';
@import './secciones/header';